<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head><title>JavaBean - 메뉴 푸드 창</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<th:block th:replace="~{./include/userBaseLayout :: setContent( ~{:: .wrap} ) }">

    <div class="wrap">
        <main class="main-content">
            <div class="menu-list-container">

                <div class="menu-item"
                     th:each="item : ${menuItems}"
                     th:onclick="|selectMenu('${item.name}')|">

                    <img th:src="@{'/img/' + ${item.image}}" th:alt="${item.name}" class="menu-image">

                    <div class="menu-details">
                        <div class="menu-name" th:text="${item.name}">메뉴 이름</div>
                        <div class="menu-price" th:data-price="${item.price}" th:text="${item.price} + '원'">0000원</div>
                    </div>
                    <span class="like-button" onclick="toggleLike(this, event)">♡</span>
                </div>
            </div>
        </main>
    </div>

</th:block>
<script src="/js/menu.js"></script>
</html>