<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head><title>JavaBean - 메뉴 티 창</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<th:block th:replace="~{./include/userBaseLayout :: setContent( ~{:: .wrap} ) }">

    <div class="wrap">
        <nav class="category-tab-bar">
            <a href="newMenu">신메뉴</a>
            <a href="coffee" >커피</a>
            <a href="beverage">음료</a>
            <a href="tea" class="active-category">티/에이드</a>
            <a href="food">푸드</a>
        </nav>
        <main class="main-content">
            <div class="menu-list-container">

                <div class="menu-item" onclick="selectMenu('아이스티')">
                    <img src="images/img/아이스티.jpg" alt="아이스티" class="menu-image">
                    <div class="menu-details">
                        <div class="menu-name">아이스티</div>
                        <div>
                            <span class="menu-temp">ONLY ICE</span>
                        </div>
                        <div class="menu-price">3000원</div>
                    </div>
                    <span class="like-button" onclick="toggleLike(this, event)">♡</span>
                </div>

                <div class="menu-item" onclick="selectMenu('유자차')">
                    <img src="../../static/img/유자차.jpg" alt="유자차" class="menu-image">
                    <div class="menu-details">
                        <div class="menu-name">유자차</div>
                        <div>
                            <span class="menu-temp">ICE</span>
                            <span class="menu-temp hot">HOT</span>
                        </div>
                        <div class="menu-price">3300원</div>
                    </div>
                    <span class="like-button" onclick="toggleLike(this, event)">♡</span>
                </div>

                <div class="menu-item" onclick="selectMenu('캐모마일')">
                    <img src="../../static/img/캐모마일.jpg" alt="캐모마일" class="menu-image">
                    <div class="menu-details">
                        <div class="menu-name">캐모마일</div>
                        <div>
                            <span class="menu-temp">ICE</span>
                            <span class="menu-temp hot">HOT</span>
                        </div>
                        <div class="menu-price">3500원</div>
                    </div>
                    <span class="like-button" onclick="toggleLike(this, event)">♡</span>
                </div>

                <div class="menu-item" onclick="selectMenu('얼그레이')">
                    <img src="../../static/img/얼그레이.png" alt="얼그레이" class="menu-image">
                    <div class="menu-details">
                        <div class="menu-name">얼그레이</div>
                        <div>
                            <span class="menu-temp">ICE</span>
                            <span class="menu-temp hot">HOT</span>
                        </div>
                        <div class="menu-price">3500원</div>
                    </div>
                    <span class="like-button" onclick="toggleLike(this, event)">♡</span>
                </div>

                <div class="menu-item" onclick="selectMenu('자몽허니블랙티')">
                    <img src="../../static/img/자허블.jpg" alt="자몽허니블랙티" class="menu-image">
                    <div class="menu-details">
                        <div class="menu-name">자몽허니블랙티</div>
                        <div>
                            <span class="menu-temp">ICE</span>
                            <span class="menu-temp hot">HOT</span>
                        </div>
                        <div class="menu-price">3800원</div>
                    </div>
                    <span class="like-button" onclick="toggleLike(this, event)">♡</span>
                </div>

                <div class="menu-item" onclick="selectMenu('레몬에이드')">
                    <img src="../../static/img/레몬에이드.png" alt="레몬에이드" class="menu-image">
                    <div class="menu-details">
                        <div class="menu-name">레몬에이드</div>
                        <div class="menu-price">3500원</div>
                    </div>
                    <span class="like-button" onclick="toggleLike(this, event)">♡</span>
                </div>

                <div class="menu-item" onclick="selectMenu('자몽에이드')">
                    <img src="../../static/img/자몽에이드.png" alt="자몽에이드" class="menu-image">
                    <div class="menu-details">
                        <div class="menu-name">자몽에이드</div>
                        <div class="menu-price">3500원</div>
                    </div>
                    <span class="like-button" onclick="toggleLike(this, event)">♡</span>
                </div>

                <div class="menu-item" onclick="selectMenu('청포도에이드')">
                    <img src="../../static/img/청포도에이드.png" alt="청포도에이드" class="menu-image">
                    <div class="menu-details">
                        <div class="menu-name">청포도에이드</div>
                        <div class="menu-price">3500원</div>
                    </div>
                    <span class="like-button" onclick="toggleLike(this, event)">♡</span>
                </div>



            </div>
        </main>
    </div>

</th:block>
<script src="/js/menu.js"></script>
</html>
